/* RESET CSS */
body, h1, h2, div, section, p, form, footer, * {
    margin: 0px;
    padding: 0px;
}
a:hover {
    text-decoration: none;
}
.paragrafo-home:hover {

}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2E598F;
    font-size: 16px;
    padding-top: 50px;
}
.quemSomos-body {
    background: #ffffff;
}
/* CONTAINERS */
.container {
    display: flex;
    justify-content: center;
}
.row {
    justify-content: center;
}
/* CONTEUDO DA PAGINA HOME */
.logo {
    width: 150px;
    margin-top: 11vh;
}
.userType-block-home {
    height: 50vh;
    align-items: center;
}
/* BOTÕES DE TIPO DE USUARIO */
.userType-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    fill: white;
    background-color: #4393AC;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 20px;
    height: 68px;
}
.icone-userType{
    width: 45px;
    height: 45px;
    padding-right: 10px;
}
.paragrafo-home {
    margin-top: 10px;
    display: flex;
    color:white;
    font-size: 1em;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
    padding: 20px 0;
}

.hover:hover {
    color: #FC5F2A;
    fill: #FC5F2A;
    background-color: #418DA5;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
/* PAGINA LOCALIZAÇÃO */
.user-block-loc {
    height: 60vh;
    align-items: center;
}
.paragrafo-for {
    color:white;
    font-size: 1em;
    text-align: center;
    padding: 20px 0;
}
#cep {
    width: 100%;
    background-color: white;
    border:none;
    padding: 10px;
    color: #FC5F2A;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    height: 30px;
    outline: 0;
}
.localizacao-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 15px;
    color: white;
    padding: 20px;
    background-color: #4393AC;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
    height: 5vh;
    font-size: 1.3em;
}
.icone-cep {
    padding-right: 15px;
}

@media (max-width: 768px) {
    .localizacao-btn span {
      font-size: 0.6em;
    }  
   
}
/* PAGINA CONTATE-NOS */
.paragrafo-cep {
    color:white;
    font-size: 1em;
    text-align: center;
    padding: 10px 0;
}
.formInput {
    width: 100%;
    background-color: white;
    border:none;
    margin: 10px 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 40px;
    outline: 0;
}
#mensagem {
    width: 100%;
    background-color: white;
    border:none;
    margin: 10px 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: 0;
}
.enviar {
    background-color: #4393AC;
    border: none;
}
#erroList {
    padding-left: 30px;
    background-color: rgba(67, 148, 172, 0.699);
    border-radius: 15px;
    color: white;
}
.icone-rede-social {
    margin: 20px 0;
}
.footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: #2E598F;
}
.rede-sociais {
    width: 45px;
    height: 45px;
    margin: 5px;
}
/* tech page */
.tech-body {
    background-color: white;
}
.footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: #2E598F;
}
.rede-sociais {
    width: 45px;
    height: 45px;
    margin: 5px;
}
.title h1 {
    text-align:start;
    padding: 10px 0;
    color: black;
    font-weight: bold;
    font-size: 2em;
    border-bottom:4px solid #FC5F2A;
}
.title-lojista h1 {
    text-align: center;
    padding: 10px 0;
    color: #4393AC;
    font-weight: bold;
    font-size: 2em;
    border-bottom:4px solid #4393AC;
}
.p1 {
    font-size: 20px;
    margin: 20px 0;
}
 mark {
    background-color: #FC5F2A;
    color: white;
    padding: 0;
}
.baner {
    display: flex;
    margin: auto;
    width: 100%;
}
.article p {
    font-size: 20px;
    margin: 15px 0;
}
.article h2 {
    font-size: 20px;
    color: #4393AC;
}
.referencias h3 {
    padding: 10px 0;
    margin: 15px 0;
    border-bottom:4px solid #FC5F2A;
}
.referencias a {
    color: black;
}
@media (min-width: 768px) {
    .baner {
        width: 70%;
    }
}
/* login */
.login-block {
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0;
}
.imput-login {
    width: 100%;
    background-color: white;
    border:none;
    margin-bottom: 20px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    height: 35px;
    outline: 0;
}
.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    color: white;
    padding: 20px;
    background-color: #4393AC;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
    height: 5vh;
    font-size: 1em;
}
.hover-login:hover {
    color: #FC5F2A;
}
.recuperar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    padding: 20px;
    font-size: 0.8em;
    border-bottom: 1px solid white;
}
.novo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    padding: 20px;
    font-size: 0.8em;
    width: 100%;
}
.google-span {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.google-btn {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
    font-size: 0.8em;
    width: 100%;
    background-color: #418DA5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.google-btn span {
    margin: auto;
}
#google {
    background-color: white;
    width: 50px;
}
.lojista-container h1 {
    margin: 20px 0;
    padding: 20px 0;
    font-size: 25px;
    color: #2E598F;
    border-bottom:5px solid#2E598F;
}
.tech {
    width: 100%;
}
.img-lojista {
    margin: 40px 0;
}

.registrar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 20px 0;
    background-color: #FC5F2A;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.img-rodape {
    background-color: #4393AC;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 15px;
}
.hover-registrar:hover {
    color: #4393AC;
    background-color: #fa561f;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}
.descricao {
    padding: 10px;
    display: flex;
    flex-direction: column;justify-content: space-around;
    background-color: #2E598F;
    width: 60%;
}
.lojasImg {
    width: 40%;
}
.loja-btn {
    display: flex;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    margin: 20px 0;
}
.loginGoogle {
    margin-top: 20px;
}
.title-cadastro {
    color: white;
    margin-bottom: 10px;
}