body, h1, h2, div, section, p, form, * {
    margin: 0px;
    padding: 0px;
} 
.sideMenu-options a:hover {
    color: #FC5F2A;
    text-decoration: none;
}

.hover:hover {
    text-decoration:none;
    color: #FC5F2A;
    fill: #FC5F2A;
    background-color: #418DA5;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
h2 {
    font-size: 20px;
}
body {
    background-color: #2E598F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container {
    display: flex;
    height: 92.4vh;
    justify-content: center;
}
.row {
    justify-content: center;
}
.logo {
    width: 200px;
    margin-top: 9vh;
}
.user-block-home {
    height: 50vh;
    align-items: center;
}
.user-block-loc {
    height: 60vh;
    align-items: center;
}
.user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    fill: white;
    background-color: #4393AC;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-top: 20px;
    height: 68px;
}
.menu-btn {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.localizacao-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 15px;
    color: white;
    background-color: #4393AC;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
    height: 5vh;
}
    
@media (max-width: 768px) {
    .sideMenu {
        width: 70%;
    } 
    .imput-cep {
        align-self: center;
    }
    .localizacao-btn span {
      font-size: 0.5em;
    }  
   
}
.text {
    color:white;
    font-size: 1em;
    text-align: center;
    height: 100px;
    padding: 20px 0;
}
.paragrafo-for {
    color:white;
    font-size: 1em;
    text-align: center;
    padding: 20px 0;
}
.paragrafo-cep {
    color:white;
    font-size: 1em;
    text-align: center;

    padding: 10px 0;
}
.icone-home {
    width: 45px;
    height: 45px;
    padding-right: 10px; 
}
.icone-rede-social {
    margin: 20px 0;
}
.rede-sociais {
    width: 45px;
    height: 45px;
    margin: 5px;
}
.icone-cep {
    padding-right: 15px;
}
#cep {
    width: 100%;
    background-color: white;
    border:none;
    padding: 10px;
    color: #FC5F2A;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    height: 5vh;
    outline: 0;
}
.form {
    width: 100%;
    background-color: white;
    border:none;
    margin: 10px 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 40px;
    outline: 0;
}
#mensagem {
    width: 100%;
    background-color: white;
    border:none;
    margin: 10px 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: 0;
}
.nav {
    align-items: center;
    position: fixed;
    padding: 10px;
    background-color: #2E598F;
    width: 100vw;
    height: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}
.menu {
    width: 30px;
    height: 30px;
    fill: white;    
}

